<div class="story-body">
    <h3>The Global Cybersecurity Index, 2018</h3>
    <p>Each country’s level of development or engagement is assessed along five pillars – (i) Legal Measures, (ii) Technical Measures, (iii) Organizational Measures, (iv) Capacity Building, and (v) Cooperation – and then aggregated into an overall score. </p>
    <p>
      <button class="btn btn-warning" id="asia-btn">Asia</button>
      <button class="btn btn-warning" id="africa-btn">Africa</button>
      <button class="btn btn-warning" id="me-btn">Middle East</button>
      <button class="btn btn-warning" id="europe-btn">Europe</button>
      <button class="btn btn-warning" id="sa-btn">South America</button>
      <button class="btn btn-warning" id="na-btn">North America</button>
      <button class="btn btn-warning" id="rf-btn">Former USSR Countries</button>
      <button class="btn btn-warning" id="au-btn">Australia</button>
      <button class="btn btn-warning" id="continent-btn">Color by continent</button>
      <button class="btn btn-warning" id="reset-btn">Reset</button>
      <div id="chart-1"></div>
             <!-- <img src="images/gci.png"/>-->
          <p>Source: <a href="https://itu.int/">International Telecommunication Union</a>, Global Cybersecurity Index 2018</p>
</div>

<script src="scripts/chart-01.js"></script>
