<div class="story-body">
    <h3>Global Cybersecurity Index Over the Years</h3>
    <p>The country's position on the index can fluctuate over the years as new technical controls are developed and new laws are passed. A selection of countries from around the world have seen their index scores fluctuate from 2014 to 2018 as they grapple with new requirements.
     </p>
    <div id="chart-2"></div>
             <!-- <img src="images/gci.png"/>-->
          <p>Source: <a href="https://itu.int/">International Telecommunication Union</a>, Global Cybersecurity Index 2014, 2016, 2018</p>
</div>

<script src="scripts/chart-02.js"></script>
