---
headline: "How The World Ranks on Cybersecurity"
subhead: "Countries are rated in five areas to determine how their cybersecurity maturity."
published_date: "Oct. 29, 2019"
site: "http://fr48.github.io/"
siteName: "The Lede"
url: "http://github.com/fr48/gci"
kicker: "CYBERSECURITY"
author:
    name: "Fahmida Y Rashid"
    url: "http://fr48.github.io/portfolio/"
    twitterHandle: "@fahmiwrite"
analytics": ""
---

{{!< default}}

<div class="story-body">
  <p>Cybersecurity is not a First World/Third World, North vs South, issue, but a global one. 
    Every country has a vested interest in protecting information and keeping citizens safe. 
    But there is a difference in how each country handles it.</p>
  <p>Effective cybersecurity is absolutely critical in a world that is increasingly interconnected, as people rely on online services, digitally connected devices, and Internet of Things for work, communications, entertainment, education, and commerce. 
    An attack can disrupt company operations and a data breach can compromise the consumer's ability to shop online. 
    </p>
  <p>Countries have to balance a number of technical, legal, policy, and security decisions as part of their cybersecurity strategy. 
    The Global Cybersecurity Index (GCI) measures "the commitment of countries to cybersecurity," according to the International Telecommunication Union, a United Nations agency. 
    The index recognizes there are multiple dimensions to the issue, and that just doing one thing well isn't sufficient. 
    The idea of the GCI is to show that security is a journey, and each country has its own path to follow.</p>
</div>

{{> story/chart1 }}

<div class="story-body">
  <p>ITU has been measuring GCI every other year since 2014, and the 2018 index is the third in the series. 
    The valuable part of the index is that the countries are compared to themselves, so how they handle the five dimensions doesn't get overshadowed by the fact that it is a smaller country, or a country with lower GDP compared to its neighbors. </p>
</div>

{{> story/chart2 }}

<div class="story-body">
  <p>Singapore ranked first in 2016, followed by the United States, and then Malaysia. 
    With the 2018 index, the United Kingdom, United States, and France made up the top 3. 
    Singapore was ranked sixth, and Malaysia ranked eighth. 
    That doesn't mean, however, that Singapore and Malaysia "fell" on its cybersecurity efforts, or that it declined in its abilities and controls, since both increased their index score. 
    The global rankings are more to show who is further along in their programs, but doesn't say one is "better" or "worse" in their efforts.  </p>
  <p>Cybersecurity is a process, not a journey. 
    There is no "end" because there is always room for refinement, and the countries are well on their way.</p>
</div>
